.calculator-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.argInput {
  box-sizing: border-box;
  outline: none;
  font-size: 24px;
  border: 3px solid transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.argInput:focus {
  border-color: var(--color-complementary);
}

.options{
  font-size: 24px;
  display: flex;
  gap: 1rem;
  input{
    width: 24px;
    height: 24px;
  }
}
